@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Bricolage Grotesque", system-ui;

}

body {
    font-family: "Bricolage Grotesque", system-ui;
background-color: #FFF;
}

.logo{
    width: 120px;
    height: 80px;
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar_all{
    /* background-color: #E99F04; */
    padding: 0 5%;
    /* padding-block: 20px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #F1F1F1;
/* position: fixed;
z-index: 455;
width: 100%;
background-color: #FFF;
top: 0; */
}

.nav_links {
    display: flex;
    gap: 50px;
}

.nav_links a {
    display: flex;
    gap: 7px;
    text-decoration: none;
    color: #333;
}
.nav_links a.active {
    color: #E99F04; 
    font-weight: bold;

}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.sidebar_all{
  
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #F1F1F1;

}
#toggleButton{
    background-color: transparent;
    color: #E99F04;
    border: none;
    font-weight: 900;
    font-size: 25px;
    position: fixed;
    right: 5%;
}

.sidebar_link {
    display: flex;
    flex-direction: column;
    background-color:#FFF; 
    position: absolute;
    top: 80px;
    right: 0;
    width: 260px;
    padding-bottom: 1px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left:30px;
    padding-right: 30px;
    height: 100vh;
    overflow: scroll;
}
.sidebar_link a {
    display: flex;
  gap: 20px;
    margin-top: 20px;
    border-bottom: 2px solid#F1F1F1;
    margin-top: 30px;
    color: #333;
}
.sidebar_link i{
    color: #E99F04;
}